body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #666;
}

input[type='text'] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

input[type='submit'] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #F79F5F;
  color: white;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #C3D9FB;
}

#unsync-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #bbb;
  color: white;
  cursor: pointer;
}

#unsync-button:hover {
  background-color: #C3D9FB;
}

#title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 0px;
  margin-top: 10px;
}


#repo{
  font-size: 15px;
  font-weight: 500;
  color: #B3B3B3;
}

#caution{
  font-size: 15px;
  color: #F79F5F;
  margin-bottom: 30px;
}